/* --------------------------- Start Global Rules --------------------------- */
:root {
    --main-color: #f92c2c;
    --main-color-alt: #d41f1f;
    --secondary-color: #044656;
    --extra-color: #e0171709;
    --section-background: #ececec;
    --paragraph-color: rgb(146, 146, 146);
    --main-transition: 0.3s;
    --main-padding: 100px 0px;
    --main-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    --main-color-line: #eee;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: var(--main-color);
    color: white;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: "Cairo", sans-serif;
    color: var(--secondary-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* -------------------------------- scrollbar ------------------------------- */
::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, var(--main-color));
    border-radius: 8px;
    height: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, var(--main-color-alt));
}

/* ---------------------------- End Global Rules ---------------------------- */
/* --------------------------------- go-home -------------------------------- */

/* ----------------------------- Start Component ---------------------------- */
.go-home {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 2px solid var(--extra-color);
    padding: 10px;
    border-radius: 50px;
    background-color: var(--main-color);
    color: var(--section-background);
    cursor: pointer;
    z-index: 100;
}

/* Start Container */
.container {
    padding: 0px 15px;
    margin: 0px auto;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Container */

/* Start main-title */
.main-title {
    border: 2px solid var(--secondary-color);
    margin: 0 auto 80px;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 10px;
    height: 10px;
    border-radius: 50px;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
}

.main-title::before {
    left: -35px;
}

.main-title::after {
    right: -35px;
}

/* --------------------------------- :hover --------------------------------- */
.main-title:hover {
    color: var(--section-background);
    border: 2px solid var(--section-background);
    transition-delay: .4s;
}

.main-title:hover::before {
    animation: left-move .6s linear forwards;
    z-index: -1;
}

.main-title:hover::after {
    animation: right-move .6s linear forwards;
    z-index: -1;
}

/* -------------------------------- Animation ------------------------------- */
@keyframes left-move {
    50% {
        width: 10px;
        height: 10px;
        left: 0;
    }

    100% {
        border-radius: 0px;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        width: 10px;
        height: 10px;
        right: 0;
    }

    100% {
        border-radius: 0px;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

/* End main-title */

/* Start Spikes */
.spikes::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
}

/* End Spikes */
/* ------------------------------ End Component ----------------------------- */


/* -------------------------------------------------------------------------- */
/*                                Start Header                                */
/* -------------------------------------------------------------------------- */
.header {
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    font-size: 25px;
    color: var(--secondary-color);
    font-weight: bold;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
}

.header .logo span {
    color: var(--main-color);
}

.header .main-nav {
    display: flex;
}

.header .main-nav>li>a {
    position: relative;
    font-size: 18px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--main-transition);
    transition: var(--main-transition);
}

.header .main-nav>li>a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

/* ----------------------------- Start Megamenu ----------------------------- */

.header .main-nav .mega-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 50px);
    width: 100%;
    height: fit-content;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}

.header .main-nav .mega-menu .image img {
    max-width: 100%;
}


.header .mega-menu .links {
    min-width: 250px;
}

.header .mega-menu .links li {
    position: relative;
    cursor: pointer;
}

.header .mega-menu .links li a {
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.header .mega-menu .links li::before {
    content: '';
    position: absolute;
    background-color: var(--extra-color);
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    transition: var(--main-transition);
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 2px solid var(--main-color-line);
}

.header .mega-menu .links li i {
    margin-right: 10px;
}

@media (max-width:992px) {
    .header .mega-menu .image {
        display: none;
    }

    .header .mega-menu .links {
        width: 100%;
        gap: 40px;
    }
}

@media (max-width:767px) {
    .header .main-nav .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 0px;
    }

    .header .mega-menu .links li a {
        padding: 10px;
    }

    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 2px solid rgba(70, 3, 3, 0.082);

    }
}

/* ------------------------------ End Megamenu ------------------------------ */
/* ------------------------------ Start hover ------------------------------- */
.header .main-nav>li>a:hover::after {
    width: 100%;
}

.header .main-nav>li>a:hover {
    background-color: var(--extra-color);
    color: var(--main-color);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .main-nav>li:hover .mega-menu {
    z-index: 1;
    opacity: 1;
    top: calc(100% + 1px);
}

/* -------------------------------- End hover ------------------------------- */
/* small */
@media (max-width:767px) {
    .header .logo {
        width: 100%;
        height: 40px;
    }

    .header .main-nav {
        margin: auto;
    }

    .header .main-nav>li>a {
        font-size: 14px;
        padding: 0px 10px;
        height: 40px;
    }

    .header .main-nav>li>a:hover::after {
        width: 0%;
    }
}

/* -------------------------------------------------------------------------- */
/*                                End Header                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                Start Landing                               */
/* -------------------------------------------------------------------------- */
.landing {
    position: relative;
    min-height: calc(100vh - 60px);
}

.landing::after {
    content: "";
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -2;
}

.landing .container {
    min-height: calc(100vh - 60px);
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    padding-top: 20px;
}

.landing .text h1 {
    font-size: 40px;
    margin: 0px;
    letter-spacing: -1px;
}

.landing .text h1 a span {
    color: var(--main-color);
}

.landing .text h1 a {
    color: var(--secondary-color);
}

.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

.landing .image img {
    position: relative;
    width: 600px;
    max-width: 100%;
    animation: ub-and-down 5s linear infinite;
    z-index: -1;
}

.landing .go-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    animation: bouncing 1.5s infinite;
    color: #d41f1f96;
    transition: var(--main-transition);
}

/* small */
@media (max-width:767px) {
    .landing .container {
        justify-content: center;
    }

    .landing .text {
        text-align: center;
        margin-top: 40px;
        align-items: center;
    }

    .landing .text h1 {
        font-size: 30px;
    }

    .landing .text p {
        font-size: 14px;
    }

    .landing .image img {
        display: none;
    }
}

/* medium & larg */
@media (min-width:767px) {
    .landing .text {
        flex: 1;
    }

    .landing .image {
        flex: 1;
    }
}

/* ----------------------------- Start Animation ---------------------------- */

@keyframes ub-and-down {

    0%,
    100% {
        bottom: 0px;
    }

    50% {
        bottom: 50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, 0px);
    }

    40%,
    60% {
        transform: translate(-50%, -15px)
    }
}

/* ------------------------------ End Animation ----------------------------- */

/* --------------------------------- :hover --------------------------------- */

.landing .go-down:hover {
    color: var(--main-color);
}

.landing .go-down:hover {
    animation-play-state: paused;
}

/* -------------------------------------------------------------------------- */
/*                                 End Landing                                */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                               Start Articles                               */
/* -------------------------------------------------------------------------- */
.articles {
    padding: var(--main-padding);
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.articles .container .box {
    border-radius: 7px;
    background-color: white;
    box-shadow: var(--main-box-shadow);
    transition: var(--main-transition);
    border: 3px solid transparent;
    overflow: hidden;
}

.articles .container img {
    max-width: 100%;

}

.articles .container .content {
    padding: 20px;
    border-bottom: 2px solid var(--main-color-line);
}

.articles .container .content h3 {
    font-size: 20px;
    color: var(-);
}

.articles .container .content p {
    margin-top: 10px;
    color: var(--paragraph-color);
    line-height: 1.6;
    font-size: 17px;
}

.articles .container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}

.articles .container .info a {
    color: var(--main-color);
}

.articles .container .info i {
    color: var(--main-color);
}

/* --------------------------------- :hover --------------------------------- */

.articles .container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.199);
    border: 3px solid rgba(255, 255, 255, 0.11);
}

.articles .container .box:hover .info i {
    animation: move-to-left .6s linear infinite;
}

/* -------------------------------- animation ------------------------------- */
@keyframes move-to-left {
    100% {
        transform: translateX(10px);
    }
}

/* -------------------------------------------------------------------------- */
/*                                End Articles                                */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/*                                Start Gallery                               */
/* -------------------------------------------------------------------------- */
.gallery {
    padding: var(--main-padding);
    background-color: var(--main-color-line);
    position: relative;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.gallery .container .box img {
    max-width: 100%;
    transform: scale(1.08);
    background-color: white;
    transition: var(--main-transition);
}

.gallery .container .box>div {
    overflow: hidden;
    border: 20px solid white;
    box-shadow: var(--main-box-shadow);
    position: relative;
}

.gallery .container .box>div::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.288);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

/* --------------------------------- :hover --------------------------------- */
.gallery .container .box:hover img {
    transform: rotate(5deg) scale(1.14);
}

.gallery .container .box:hover>div::after {
    animation: flashing .6s;
}

/* -------------------------------- animation ------------------------------- */

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* -------------------------------------------------------------------------- */
/*                                 End Gallery                                */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                               Strat Featuers                               */
/* -------------------------------------------------------------------------- */
.featuers {
    padding: var(--main-padding);
}

.featuers .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.featuers .container .box {
    background-color: white;
    border: 1px solid var(--main-color-line);
}

.featuers .container .box .image {
    overflow: hidden;
    position: relative;
}

.featuers .container .box .image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 3.9px);
    left: 0;
    top: 0;
    background-color: rgba(255, 0, 0, 0.575);
}

.featuers .container .box.quality .image::before {
    background-color: rgb(255, 0, 0, 50%);
}

.featuers .container .box.time .image::before {
    background-color: rgb(0, 150, 136, 50%);
}

.featuers .container .box.passion .image::before {
    background-color: rgb(3, 168, 245, 50%);
}

.featuers .container .box .image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0px 250px 100px 250px;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
    transition: var(--main-transition);
}

.featuers .container .box .image img {
    width: 100%;
    max-width: 100%;
}

.featuers .container .box .text-content {
    text-align: center;
    padding: 0px 40px 40px;
}

.featuers .container .box .text-content h3 {
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    transition: var(--main-transition);
}

.featuers .container .box .text-content h3::before {
    position: absolute;
    content: '';
    width: 28%;
    height: 4px;
    left: 50%;
    transform: translate(-50%);
    bottom: -12px;
}

.featuers .container .box.quality .text-content h3::before {
    background-color: var(--main-color);
}

.featuers .container .box.time .text-content h3::before {
    background-color: #009688;
}

.featuers .container .box.passion .text-content h3::before {
    background-color: #03a9f4;
}

.featuers .container .box .text-content p {
    font-size: 23px;
    line-height: 2;
    color: var(--paragraph-color);
}

.featuers .container .box a {
    display: block;
    margin: 30px auto;
    width: fit-content;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}

.featuers .container .box.quality a {
    color: var(--main-color);
    border: 3px solid var(--main-color);
}

.featuers .container .box.time a {
    color: #009688;
    border: 3px solid #009688;
}

.featuers .container .box.passion a {
    color: #03a9f4;
    border: 3px solid #03a9f4;
}

/* --------------------------------- :hover --------------------------------- */

.featuers .container .box:hover .image::after {
    border-width: 0px 300px 150px 300px;
}

.featuers .container .box:hover a {
    color: white;
    border-color: transparent;
}

.featuers .container .box.quality:hover a {
    background-color: var(--main-color);
}

.featuers .container .box.time:hover a {
    background-color: #009688;
}

.featuers .container .box.passion:hover a {
    background-color: #03a9f4;
}

.featuers .container .box:hover .text-content h3 {
    transform: translateY(-50px);
}

/* -------------------------------------------------------------------------- */
/*                                End Featuers                                */
/* -------------------------------------------------------------------------- */